{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>Document</title>
</head>

    {% block content %}
    <div class="form-container">
        <h1>Добавление нового сотрудника</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить</button>
        </form>
        <a href="{% url 'home' %}">Вернуться назад</a>
    </div>
    {% endblock %}
</body>
</html>